<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment Succesful
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="container">


  <ion-grid>
    <ion-row style="height: 100%; margin: 40% 0;">
      <ion-col>

        <ion-card class="ion-padding ion-text-center">
          <ion-card-header>
         
            
          
        <ion-img class="success-icon" src="assets/success.svg"></ion-img>
        <ion-card-title class="ion-padding-top">Payment Successfully</ion-card-title>
          </ion-card-header>
          <ion-card-content>
         Your premium account was activated. Go to the dashboard to access all features.
          </ion-card-content>
    
          
        
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
