<ion-header>
  <ion-toolbar>
    <ion-title>
      Simple Ionic 5 Apple Pay
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="main-div">

  <ion-grid>
  <ion-row padding-top style="height: 100%; margin: 40% 0;">
    <ion-col>
 
    <ion-card class="ion-padding">
      <ion-card-header>
        <!-- <ion-card-subtitle>50% off</ion-card-subtitle> -->
        <ion-card-title style="font-size: 50px;">🚀</ion-card-title>
        <ion-card-title>Premium Plan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Feature 1: Unlimited<br>
        Feature 2: 5 users<br>
        Feature 3: yes<br>
        Feature 4: no<br>
        Feature 5: 5,000<br>
      </ion-card-content>

      <ion-button padding-horizontal expand="full" (click)="payWithApplePay()">Pay using Apple Pay
      </ion-button>
      <p class="ion-text-center" (click)="checkApplePayValid()">Check Device</p>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>